
@font-face {
  font-family: Rajdhani;
  src: url(/fonts/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: RajdhaniLight;
  src: url(/fonts/Rajdhani-Light.ttf);
}

@font-face {
  font-family: RajdhaniMedium;
  src: url(/fonts/Rajdhani-Medium.ttf);
}

@font-face {
  font-family: RajdhaniSemiBold;
  src: url(/fonts/Rajdhani-SemiBold.ttf);
}

@font-face {
  font-family: RajdhaniBold;
  src: url(/fonts/Rajdhani-Bold.ttf);
}

@font-face {
  font-family: 'Belwe Bold';
  src: url(/fonts/Belwe-Bold.otf);
}

body * {
  font-family: 'Rajdhani';
  color: black;
}

.MuiTooltip-tooltip h3 {
  font-size: 20px !important;
  color: white;
  margin-top: 0px;
}

.MuiTooltip-tooltip {
  background: black !important;
  opacity: 0.7 !important;
  padding: 20px !important;
  font-size: 14px !important;
}

.MuiTooltip-tooltip jvalue {
  font-size: 14px;
  color: white;
  float: right;
  margin-left: 10px;
}

.toast-message {
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.8;
  border-radius: 5px;
}